<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.sueSingleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning(- (void\)didReceiveMemoryWarning)</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.swift:comments</string>
						<string>ViewController.swift:imports:importCocoa</string>
						<string>ViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning(override func didReceiveMemoryWarning(\))</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>../.gitignore</key>
		<dict>
			<key>Path</key>
			<string>.gitignore</string>
		</dict>
		<key>../.swiftlint.yml</key>
		<dict>
			<key>Path</key>
			<string>.swiftlint.yml</string>
		</dict>
			<key>Cartfile</key>
		<dict>
			<key>Path</key>
			<string>Cartfile</string>
		</dict>
		<key>OCBridgeHeader.h</key>
		<dict>
			<key>Path</key>
			<string>OCBridgeHeader.h</string>
		</dict>
		<!-- Base+Expand -->
		<key>Base+Expand/CGPoint.swift</key>
		<dict>
			<key>Path</key>
			<string>Base+Expand/CGPoint.swift</string>
			<key>Group</key>
			<string>Base+Expand</string>
		</dict>
		<key>Base+Expand/CGRect.swift</key>
		<dict>
			<key>Path</key>
			<string>Base+Expand/CGRect.swift</string>
			<key>Group</key>
			<string>Base+Expand</string>
		</dict>
		<key>Base+Expand/CGSize.swift</key>
		<dict>
			<key>Path</key>
			<string>Base+Expand/CGSize.swift</string>
			<key>Group</key>
			<string>Base+Expand</string>
		</dict>
		<key>Base+Expand/NetBase.swift</key>
		<dict>
			<key>Path</key>
			<string>Base+Expand/NetBase.swift</string>
			<key>Group</key>
			<string>Base+Expand</string>
		</dict>
		<key>Base+Expand/String.swift</key>
		<dict>
			<key>Path</key>
			<string>Base+Expand/String.swift</string>
			<key>Group</key>
			<string>Base+Expand</string>
		</dict>
		<key>Base+Expand/UIButton.swift</key>
		<dict>
			<key>Path</key>
			<string>Base+Expand/UIButton.swift</string>
			<key>Group</key>
			<string>Base+Expand</string>
		</dict>
		<key>Base+Expand/UIColor.swift</key>
		<dict>
			<key>Path</key>
			<string>Base+Expand/UIColor.swift</string>
			<key>Group</key>
			<string>Base+Expand</string>
		</dict>
		<key>Base+Expand/UILabel.swift</key>
		<dict>
			<key>Path</key>
			<string>Base+Expand/UILabel.swift</string>
			<key>Group</key>
			<string>Base+Expand</string>
		</dict>
		<key>Base+Expand/UIView.swift</key>
		<dict>
			<key>Path</key>
			<string>Base+Expand/UIView.swift</string>
			<key>Group</key>
			<string>Base+Expand</string>
		</dict>
		<!-- Common -->
		<key>Common/ApiUrl.swift</key>
		<dict>
			<key>Path</key>
			<string>Common/ApiUrl.swift</string>
			<key>Group</key>
			<string>Common</string>
		</dict>
		<key>Common/Define.swift</key>
		<dict>
			<key>Path</key>
			<string>Common/Define.swift</string>
			<key>Group</key>
			<string>Common</string>
		</dict>
		<key>Common/NetManager.swift</key>
		<dict>
			<key>Path</key>
			<string>Common/NetManager.swift</string>
			<key>Group</key>
			<string>Common</string>
		</dict>
		<!-- Utils -->
		<key>Utils/AFNetworking+PromiseKit.h</key>
		<dict>
			<key>Path</key>
			<string>Utils/AFNetworking+PromiseKit.h</string>
			<key>Group</key>
			<string>Utils</string>
		</dict>
		<key>Utils/AFNetworking+PromiseKit.m</key>
		<dict>
			<key>Path</key>
			<string>Utils/AFNetworking+PromiseKit.m</string>
			<key>Group</key>
			<string>Utils</string>
		</dict>
		<key>Utils/Reachability.h</key>
		<dict>
			<key>Path</key>
			<string>Utils/Reachability.h</string>
			<key>Group</key>
			<string>Utils</string>
		</dict>
		<key>Utils/Reachability.m</key>
		<dict>
			<key>Path</key>
			<string>Utils/Reachability.m</string>
			<key>Group</key>
			<string>Utils</string>
		</dict>
		<key>Utils/UIColor+HexString.h</key>
		<dict>
			<key>Path</key>
			<string>Utils/UIColor+HexString.h</string>
			<key>Group</key>
			<string>Utils</string>
		</dict>
		<key>Utils/UIColor+HexString.m</key>
		<dict>
			<key>Path</key>
			<string>Utils/UIColor+HexString.m</string>
			<key>Group</key>
			<string>Utils</string>
		</dict>
		<!--dirs: Images, Libs, Main, Models-->
		<key>Images</key>
		<dict>
			<key>Path</key>
			<string>Images</string>
		</dict>
		<key>Libs</key>
		<dict>
			<key>Path</key>
			<string>Libs</string>
		</dict>
		<key>Main</key>
		<dict>
			<key>Path</key>
			<string>Main</string>
		</dict>
		<key>Models</key>
		<dict>
			<key>Path</key>
			<string>Models</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>../.gitignore</string>
		<string>../.swiftlint.yml</string>
		<string>Cartfile</string>
		<string>OCBridgeHeader.h</string>
		<string>Base+Expand/CGPoint.swift</string>
		<string>Base+Expand/CGRect.swift</string>
		<string>Base+Expand/CGSize.swift</string>
		<string>Base+Expand/NetBase.swift</string>
		<string>Base+Expand/String.swift</string>
		<string>Base+Expand/UIButton.swift</string>
		<string>Base+Expand/UIColor.swift</string>
		<string>Base+Expand/UILabel.swift</string>
		<string>Base+Expand/UIView.swift</string>
		<string>Common/ApiUrl.swift</string>
		<string>Common/Define.swift</string>
		<string>Common/NetManager.swift</string>
		<string>Utils/AFNetworking+PromiseKit.h</string>
		<string>Utils/AFNetworking+PromiseKit.m</string>
		<string>Utils/Reachability.h</string>
		<string>Utils/Reachability.m</string>		
		<string>Utils/UIColor+HexString.h</string>
		<string>Utils/UIColor+HexString.m</string>
		<string>Images</string>
		<string>Libs</string>
		<string>Main</string>
		<string>Models</string>
	</array>
</dict>
</plist>
